.wrapeer {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-speacer: 9px;

    height: 60px;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    height: var(--default-layout-header-height);
    width: var(--default-layout-width);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.search {
    width: 361px;
    background-color: #f1f1f2;
    padding-left: 16px;
    border-radius: var(--search-border-radius);
    height: var(--search-height);
    display: flex;
    border: 1.5px solid transparent;
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-input {
    flex: 1;
    height: 100%;
    background-color: #f1f1f2;
    caret-color: var(--primary);
    color: var(--black);

    &:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.7);
    }
}

.clear,
.loading {
    border: none;
    background-color: #f1f1f2;
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.4rem;
    margin-right: 10px;
}

.search-btn {
    border: none;
    color: rgba(22, 24, 35, 0.34);
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.6rem;
    font-weight: 800;
    position: relative;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        top: var(--search-top-speacer);
        bottom: var(--search-top-speacer);
        left: 0px;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-result {
    width: 361px;
}

.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    padding: 4px 8px;
    margin-left: 20px;
    font-size: 1.8rem;
    background-color: transparent;
    cursor: pointer;
}

.current-user {
    display: flex;
}

.icon-message {
    position: relative;
}

.number-message {
    position: absolute;
    font-size: 1.2rem;
    color: var(--while);
    background-color: #fd3b3b;
    width: 21px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    right: 5px;
    top: 1px;
}

.icon-upload,
.icon-message {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    display: flex;
}

.user-avatar {
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
