.wrapeer {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-speacer: 9px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 60px;
    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    justify-content: center;
}

.inner {
    display: flex;
    height: var(--default-layout-header-height);
    width: var(--default-layout-width);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link {
    display: flex;
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    padding: 4px 8px;
    margin-left: 20px;
    font-size: 1.8rem;
    background-color: transparent;
    cursor: pointer;
}

.current-user {
    display: flex;
}

.icon-inbox {
    position: relative;
}

.number-message {
    position: absolute;
    font-size: 1.2rem;
    color: var(--while);
    background-color: #e50a0a;
    width: 21px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    right: 5px;
    top: 1px;
}

.icon-upload,
.icon-inbox,
.icon-message {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    display: flex;
}

.user-avatar {
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
